<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sih.majorproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FarmerCheckout"></activity>
        <activity android:name=".AddCropDetails" />
        <activity android:name=".FarmerBook" />
        <activity android:name=".ui.home.TransportAddVehicle" />
        <activity
            android:name=".TRANSPORT_Drawer"
            android:label="@string/title_activity_transport__drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TransportHome" />
        <activity android:name=".TransportRegister" />
        <activity android:name=".TransportLogin" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FarmerHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FarmerRegister" />
        <activity android:name=".FarmerLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>

</manifest>